*{
    padding: 0;
    margin: 0;
    font-family: 'josefin sans',sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: #222633;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 8%;
    padding-right:8%;
    background-color: #272829;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 5px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize ;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 5px 15px;
    transition: 0.6s ease;

}
nav ul li a:hover{
    background-color: #756b58

}
nav ul li.active a{
    background-color: #756b58;
    color: white;
}
.btn{
    color: #fff;
    text-decoration: none;
    border: 2px solid #756b58;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover{
    transform: scale(1.2);
}
span{
    color: #756b58;
}
.services{
    width: 100%;
    padding: 100px 0px;
}
.title h4{
    color: #756b58;
    font-size: 20px;
    width: 1130px;
    margin: 10px auto;
    text-align: center;
}
.title h2{
    color: #fff;
    font-size: 40px;
    width: 1130px;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 450px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #756b58;
}
h5{
    color: #fff;
    font-size: 23px;
    margin-bottom: 15px;

}
.pra{
    color: #fff;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.card .button{
    background-color: #756b58;
    color: #fff;
    text-decoration: none;
    border: 1px solid transparent;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 30px;
    transition: transform .4s;
}
.card .button:hover{
    transform: scale(1.2);
    background: #191919;
    border: 2px solid #756b58;
}
footer span{
    padding: 10px;
}
footer{
    bottom: 0;
    width: 100%;
    position:relative;
}
.line{
    
    border: none;
    border-top: 1px solid gainsboro;
    margin: 20px 40px 0px 40px;
}
.items{
    display: flex;
    justify-content: space-between;
    margin: 0px 100px 0px 100px;
}
.items ul li{
    display: inline-block;
    padding: 10px;
    
    
}
.items ul li i{
    font-size: 20px;
    color: #FFFFFF;
}